{% extends 'quizext/quizext_base.html' %}


{% block content %}

	{% if user.is_authenticated %}
		<h3>Авторизован {{ user }}</h3>
	{% endif %}
	{{ answers }}
	<p>Вопрос № {{ question.group }}</p>
	<p>{{ question.content }}</p>
	<form method="POST" action="
		{% if next %}
			{% url 'question' pk=question.test.pk q_set=next.group %}
		{% else %}
			{% url 'results' pk=question.test.pk %}
		{% endif %}">{% csrf_token %}
		<input type="hidden" name="q_pk" value="{{ question.id }}"/>
		<input type="hidden" name="attempt_count" value="{{ attempt_count }}"/>
		{% for ans in question.answer_set.all %}
			<p><input type="checkbox" name="answer" value="{{ ans.id }}"/>{{ ans.content }}</p>
		{% endfor %}
		<button class="btn" type="submit">Ответить</button>
	</form>
	<p><a href="
		{% if next %}
			{% url 'question' pk=question.test.pk q_set=next.group %}
		{% else %}
			{% url 'results' pk=question.test.pk %}
		{% endif %}" class="btn">Пропустить</a></p>

{% endblock %}