{% extends 'quizext/quizext_base.html' %}


{% block content %}

	{% if user.is_authenticated %}
		<h3>Авторизован {{ user }}</h3>
	{% endif %}
	{{ answers }}
	<p><em>Предыдущий вопрос: {{ response }}</em></p>
	<p>Вопрос № {{ question.group }}</p>
	<p>{{ question.content }}</p>
	{% if next %}
		<form method="POST" action="{% url 'question' pk=question.test.pk q_set=next.group %}">
	{% else %}
		<form method="POST" action="{% url 'results' pk=question.test.pk %}">
	{% endif %}
	{% csrf_token %}
		<input type="hidden" name="q_pk" value="{{ question.id }}"/>
		<input type="hidden" name="attempt_count" value="{{ attempt_count }}"/>
		{% for ans in question.answer_set.all %}
			<p><input type="checkbox" name="answer" value="{{ ans.id }}"/>{{ ans.content }}</p>
		{% endfor %}
		<button class="btn" type="submit">Ответить</button>
	</form>
	<p>
	{% if next %}
		<a href="{% url 'question' pk=question.test.pk q_set=next.group %}" class="btn">Пропустить</a>
	{% else %}
		<a href="{% url 'results' pk=question.test.pk %}" class="btn">Пропустить</a>
	{% endif %}
	</p>

{% endblock %}