{% extends 'quizext/quizext_base.html' %}


{% block content %}
	
	<p><a href="{% url 'tests' %}">Вернуться к списку тестов</a></p>
	<h1>{{ test.title }}</h1>
	<p>Количество вопросов: {{ q_num }}</p>
	<p>Максимальное кол-во баллов: {{ sum }}</p>
	<p>Время на выполнение всех заданий: {{ time }} ч.</p>
	{% if test.max_attempts == 1 %}
		<p>Внимание!!! Данный тест можно пройти только один раз!</p>
	{% else %}
		<p>У Вас осталось {{ test.max_attempts }} попыток для прохождения теста.</p>
		<p>Вы проходили данный тест {{ user.attempt.number }} раз</p>
	{% endif %}
	<p>Набранное кол-во баллов: n</p>
	<p>Вы хотите пройти тест?</p>
	<a href="{% url 'question' pk=test.pk q_set=1 %}" class="btn">Да, хочу пройти.</a>

{% endblock %}
